
.grid-layout{
    grid-template-columns: 18rem 1fr;
    grid-template-rows: auto 1fr;
}
    
.text-green-700{
    color: rgba(21, 128, 61, 1);
}
    
@media screen and (max-width: 420px) {
    .grid-layout{
        grid-template-columns: 4rem 1fr;
        grid-template-rows: auto 1fr;
    }
}
@media (min-width: 421px) and (max-width: 767px) {
    .grid-layout{
        grid-template-columns: 8rem 1fr;
        grid-template-rows: auto 1fr;
    }
}
/* .custom-calendar .react-calendar__tile {
    padding: 0.5rem;
}
  
.custom-calendar .react-calendar__tile--active {
    background-color: #056d13;
    color: #fff;
}
  
.custom-calendar .react-calendar__tile--now {
    background-color: #7cda94;
}
  
.custom-calendar .react-calendar__tile--hover {
    background-color: #e0e0e0;
}
  
.custom-calendar .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
  
.custom-calendar .react-calendar__navigation__label {
    font-size: 1rem;
    font-weight: bold;
}
  
.custom-calendar .react-calendar__navigation button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    outline: none;
}
  
.custom-calendar .react-calendar__navigation button:hover {
    color: #30d638;
} */

.file::file-selector-button{
    background-color: #056d13;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: rgb(184, 177, 177);
}


